body 
{
    word-wrap: break-word;

}
.container 
{
    margin: auto;
    width: 70%;
    max-width: 70%;
    min-width: 70%;
    padding: 30px;
    background-color: aqua;
}

.output 
{
    margin-top: 20px;

}